# disable pop-up GUI
bp.vis.disable_visualisation=1

# SMP using two cores
cluster0.NUM_CORES=2

# route `semihosting::eprintln` to stderr
cluster0.cpu0.semihosting-use_stderr=1

# the FVP defaults to AArch32 (e.g. Cortex-R52); we want AArch64 (e.g. Cortex-R82)
cluster0.has_aarch64=1

# required by `cluster0.has_aarch64=1` setting; suppresses warnings
cluster0.gicv3.cpuintf-mmap-access-level = 2
cluster0.gicv3.SRE-enable-action-on-mmap = 2
cluster0.gicv3.SRE-EL2-enable-RAO = 1
cluster0.gicv3.extended-interrupt-range-support = 1

# disable as many logs as possible
bp.terminal_0.quiet=1
bp.terminal_1.quiet=1
bp.terminal_2.quiet=1
bp.terminal_3.quiet=1
